
/*
* { border: solid red 1px; }
*/

body {
  margin: 0;
}

#quote-generator > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33.1vh;
}

.title {
  font-size: 4rem;
}

.quote iframe {
  align-self: flex-end;
  margin-top: 1%;
  border: 0;
  overflow: hidden;
}

.quote div {
  max-width: 60%;
}

.header.designer {
  background-image: url('designer.jpg');
  background-color: #000000;
  color: #ffffff;
}

.header.programmer {
  background-image: url('programmer.jpg');
  background-color: #ffffff;
  color: #000000;
}

.buttons {
  margin-top: 1%;
}

.header {
  border-bottom: 3px solid #c1bec5;
}

.buttons {
  margin-top: 1%;
}

.signatures {
  background: url('phoenix.jpg') #ffffff no-repeat center;
  background-size: 80% 60%;
}

.signatures > div {
  color: #B54141;
}
