/*
* { border: solid red 1px; }
*/

body {
  margin: 0;
}

#quote-generator > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header, .quote {
  height: 38vh;
}

.title {
  font-size: 4rem;
}

.quote iframe {
  align-self: flex-end;
  margin-top: 1%;
  border: 0;
  overflow: hidden;
}

.quote div {
  max-width: 60%;
}

.header.designer {
  background-image: url('designer.jpg');
  background-color: #000000;
  color: #ffffff;
}

.header.programmer {
  background-image: url('programmer.jpg');
  background-color: #ffffff;
  color: #000000;
}

.buttons {
  margin-top: 1%;
}

button {
  color: white;
  background-color: #1b95e0;
  border-color: white;
  border-radius: 15%;
}

.header {
  border-bottom: 3px solid #c1bec5;
}

.signatures {
  cursor: pointer;
  color: #cccccc;
  height: 20vh;
  background: none;
  background-size: 80% 60%;
}

